@media (max-width:478px) {
  .header_web{
    display: none;
  }
  .header_phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    width:10rem;
    height:1.6rem;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
  }
  .bg_phone{
    display: block;
    position: relative;
    width: 10rem;
    height: 21.68rem;
    background: url(../images/box1/home_phone.png) no-repeat ;
    background-size: 100%;
  }
  .bg1{
    display: none;
  }
  .content .text{
    position: absolute;
    top: 1.35rem;
    left: 0.5rem;
    height: 2rem;
    width: 9rem;
    font-size: 0.3rem;
    font-weight: 600;
    color: #537fb6;
    text-align: center;
    text-shadow: white 0 0 20px, white 0 0 20px, white 0 0 20px;
  }
  .content p {
    margin-bottom: 0.1rem;
  }
  .bg2 .text{
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    height: 2rem;
    width: 9rem;
    font-size: 0.3rem;
    font-weight: 600;
    color: #537fb6;
    text-align: center;
    text-shadow: white 0 0 20px, white 0 0 20px, white 0 0 20px;
  }
  .bg2 p {
    margin-bottom: 0.1rem;
  }
}

@media (min-width:478px) {
  .header_phone {
    display: none;
  }

  .header_web {
    position:fixed;
    top:0;
    left:0.25rem;
    width: 9.5rem;
    height: 0.55rem;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .bg1{
    position: relative;
    width: 10rem;
    height: 5.62rem;
    background: url(../images/box1/home_bg.png) no-repeat ;
    background-size: 100%;
  }
  .bg_phone{
    display: none;
  }
  .bg2 .text{
    position: absolute;
    top: 1.35rem;
    left: 0.5rem;
    height: 2rem;
    width: 9rem;
    font-size: 0.25rem;
    font-weight: 600;
    color: #537fb6;
    text-align: center;
    text-shadow: white 0 0 20px, white 0 0 20px, white 0 0 20px;
  }
  .content .text{
    position: absolute;
    top: 1.35rem;
    left: 0.5rem;
    height: 2rem;
    width: 9rem;
    font-size: 0.25rem;
    font-weight: 600;
    color: #537fb6;
    text-align: center;
    text-shadow: white 0 0 20px, white 0 0 20px, white 0 0 20px;
  }
}

.line1 {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 10rem;
  height: 2rem;
  z-index:10;
  background: url(../images/content/line1.png) no-repeat ;
  background-size: 100%;
}

.line4 {
position: absolute;
top: -1rem;
left: 0;
width: 10rem;
height: 2rem;
z-index:10;
background: url(../images/content/line4.png) no-repeat ;
background-size: 100%;
}
.line5 {
position: absolute;
top: -1rem;
left: 0;
width: 10rem;
height: 2rem;
z-index:10;
background: url(../images/content/line5.png) no-repeat ;
background-size: 100%;
}

@font-face
{
    font-family: 'cubic11';
    src: url('../assets/GenSenRounded-B.ttc');
    font-weight: normal;  
    font-style: normal;  
}

.hide{
  display: none;
}
.show{
  display: inherit;
}

html{
    scroll-behavior: smooth;
  }

body{
    overflow-x: hidden;
    width: 10rem;
  }
  *{
  margin: 0;
  }
  .w{
  width: 10rem;
  margin: 0 auto;
  }
  .header_web a img{
    width:0.28rem;
  }

  .header_phone .btn{
    margin-right: 1rem;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: #5fffff 0 0.01rem 0.03rem;
    height:1rem;
  }
  #menu a img{
    width:1rem;
  }
.bg1 .logo{
    position: absolute;
    bottom: 1.8rem;
    height: 2.5rem;
    width: 5rem;
    background: url(../images/box1/logo.png) no-repeat;
    background-size: 100%;
}
.bg1 .btn{
  position: absolute;
  bottom: 0.9rem;
  left:1.4rem;
  height: 1.4rem;
  width: 3.2rem;
  background: url(../images/box1/home_btn.svg) no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.bg1 .text{
  position: absolute;
  bottom:0;
  right:.4rem;
  height: 5rem;
  width: 1.2rem;
  background: url(../images/box1/home_text.png) no-repeat;
  background-size: 100%;
}

.bg_phone .logo{
  position: absolute;
  top: 12.3rem;
  left:0.5rem;
  height: 5rem;
  width: 9rem;
  background: url(../images/box1/logo.png) no-repeat;
  background-size: 100%;
}
.bg_phone .btn{
position: absolute;
bottom: 2.5rem;
left:1.3rem;
height: 3.1rem;
width: 8rem;
background: url(../images/box1/home_btn.svg) no-repeat;
background-size: 100%;
cursor: pointer;
}
.bg_phone .text{
position: absolute;
top:3.2rem;
left:1rem;
height: 9.3rem;
width: 2.5rem;
background: url(../images/box1/home_text.png) no-repeat;
background-size: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 14.5rem;
  background: url(../images/content/content_bg.png) no-repeat ;
  background-size: 100%;
}



.content .line2 {
  position: absolute;
  top: 3rem;
  height: 2rem;
  width: 100%;
  background: url(../images/content/line2.png) no-repeat ;
  background-size: 100%;
}

.content .register{
  position: absolute;
  left:1.5rem;
  top: 4.8rem;
  height: 3.9rem;
  width: 7rem;
  background: url(../images/content/register.png) no-repeat ;
  background-size: 100%;
}

.content .line3 {
  position: absolute;
  top: 8.3rem;
  height: 2rem;
  width: 100%;
  background: url(../images/content/line3.png) no-repeat ;
  background-size: 100%;
}

.content .swiper{
  position: absolute;
  top: 10rem;
  width: 100%;
  overflow: hidden;
}

.content .swiper-slide {
  display: flex;
  gap:4rem;
  width:6rem;
  align-items: center;
  justify-content: center;
  
}
.content .swiper-slide iframe {
  display: block;
  width: 6rem;
  height:3.38rem;
  object-fit: cover;
  border:0.03rem solid #537fb6;
  border-radius: 0.1rem;
}

.content .swiper-slide img{
  display: block;
  width: 6rem;
  object-fit: cover;
  border:0.03rem solid #537fb6;
  border-radius: 0.1rem;
}

.left_1 {
  position: absolute;
  top: 11.3rem;
  left: 0.15rem;
  width: 0.7rem;
  height: 1rem;
  z-index:10;
  background: url(../images/role/l.svg) no-repeat ;
  background-size: 100%;
}

.right_1 {
  position: absolute;
  top: 11.3rem;
  right: 0.15rem;
  width: 0.7rem;
  height: 1rem;
  z-index:10;
  background: url(../images/role/r.svg) no-repeat ;
  background-size: 100%;
}

.left_2 {
  position: absolute;
  top: 2.9rem;
  left: 0.1rem;
  width: 1rem;
  height: 1rem;
  z-index:10;
  background: url(../images/role/l.svg) no-repeat ;
  background-size: 100%;
}

.right_2 {
  position: absolute;
  top: 2.9rem;
  right: 0.1rem;
  width: 1rem;
  height: 1rem;
  z-index:10;
  background: url(../images/role/r.svg) no-repeat ;
  background-size: 100%;
}

.role {
  position: relative;
  width: 100%;
  height:7.9rem;
  background: url(../images/role/role_bg.png) no-repeat ;
  background-size: 100%;
}

.role .swiper{
  position: absolute;
  top: 0.1rem;
  width: 100%;
  overflow: hidden;
}

.role .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.role .swiper-slide img{
  display: block;
  width: 10rem;
  object-fit: cover;
}

.role .avatar{
  position: absolute;
  bottom:0.3rem;
  width:10rem;
  display: flex;
  gap:0.5rem;
}
.role .avatar img{
  z-index:10;
  width:1.5rem;
}

.bg2{
    position: relative;
    width: 100%;
    height: 9.35rem;
    background: url(../images/box2/attention.png) no-repeat ;
    background-size: 100%;
}

.bg2 .private{
  position: absolute;
  bottom: 2rem;
  left:1.5rem;
  height: 0.85rem;
  width: 2.9rem;
  background: url(../images/box2/private.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.bg2 .service{
  position: absolute;
  bottom: 2rem;
  right:1.5rem;
  height: 0.85rem;
  width: 2.9rem;
  background: url(../images/box2/service.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.bg2 .offical {
  position: absolute;
  bottom: 0.4rem;
  right:3.5rem;
  height: 0.85rem;
  width: 2.9rem;
  background: url(../images/box2/official.png) no-repeat;
  background-size: 100%;
}
/* leaf animations */

#leaves {position:absolute;z-index: 400;top:-1rem;width:100%;text-align: left;}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: url(../images/box1/sakura.png) no-repeat center center;
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { background: url(../images/box1/sakura.png) no-repeat center center }
#leaves i:nth-of-type(2n+2)  { background: url(../images/box1/sakura.png) no-repeat center center }
#leaves i:nth-of-type(4n+1)  { background: url(../images/box1/sakura.png) no-repeat center center }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-0.6rem,5.2rem,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-0.4rem,5.1rem,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-1rem,5rem,0)
            rotate(0deg);
        opacity: 0;
    }
}
