@font-face {
  font-family: 'font1';
  src: url('../assets/GenSenRounded-B.ttc');
}

@media (max-width:478px) {
  body{
    background: url('../images/box2/attention.png') no-repeat;
    background-size: cover;
    color: black;
    padding: 0 2rem;
    font-family: 'font1';
  }
}

@media (min-width:478px) {
  body{
    background: url('../images/box2/attention.png') no-repeat;
    background-size: cover;
    color: black;
    padding: 0 20rem;
    font-family: 'font1';
  }
}